* {
  background: #eee;
}

.header {
  display: flex;
  justify-content: space-around;
  background: orange;
  width: 100dvw;
  margin: 0%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100dvw;
  text-align: center;
  background: brown;
}

.crsel {
  width: 80%;
}

p {
  background: #000;
}

h3 {
  background: yellow;
}
